@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #ffffff;
  --color-secondary: #2d3362;
  --color-accent: #041232;
  --font-roboto: var(--font-roboto);
}

@layer base {
  * {
    @apply p-0 m-0;
  }
  body {
    @apply bg-primary text-primary font-roboto;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}
