@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #ffffff;
  --color-secondary: #2d3362;
  --color-accent: #041232;
  --color-accent-50: #f8f4f1;
  --font-roboto: var(--font-roboto);
}

@layer base {
  * {
    @apply p-0 m-0;
  }
  body {
    @apply bg-primary text-primary font-roboto;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
